.hero-container,
.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 48px 24px 32px;
  min-height: 200px;
  background-color: var(--pearson-hero-bg);
  color: var(--pearson-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.hero > div {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
  position: relative;
  z-index: 2;
}

.hero h1 {
  max-width: 800px;
  margin: 0 auto 16px;
  color: var(--pearson-h1-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.hero p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  color: var(--pearson-subtitle-color);
  line-height: 1.5;
}

.hero picture {
  display: none;
}

.hero img {
  display: none;
}

@media (width >= 600px) {
  .hero h1 {
    font-size: 42px;
  }

  .hero p {
    font-size: 20px;
  }
}

@media (width >= 900px) {
  .hero {
    padding: 60px 32px 32px;
    min-height: 240px;
  }

  .hero > div {
    padding: 0 32px;
  }

  .hero h1 {
    font-size: 48px;
    margin-bottom: 16px;
  }

  .hero p {
    font-size: 22px;
  }
}
